@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input:focus {
  outline: none; /* Removes the default outline on focus */
  border: none; /* Removes any border on focus */
}
.custom-shadow{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
.userTable{
  @apply bg-slate-600
}
.userTable th{
  @apply border text-base font-medium 
}
.userTable td{
  @apply border text-base text-center py-3 items-center
}

